/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;
    font: inherit;
    vertical-align: baseline;*/
}

/*Global Styles*/
html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 485px;
    margin: 0 auto;
    padding: 10px;
}
header, main {
    background-color: #ffffff;
}
header {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 485px;
}
nav {
    position: fixed;
    top: 55px;
    z-index: 1;
    background-color: #000000;
    width: 485px;
}
main, aside {
    padding: 30px 0 10px 0;
    position: relative;
    top: 121px;
}
h1  {
    color:#007d7b;
    font-size: 3em;
}
h1, h2, footer {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 2em;
}
nav h2 {
    visibility: hidden;
    height: 0px;
}
p {
    font-size: 1.25em;
    margin: 20px 10px;
    
}
main p {
    line-height: 1.5em;
}
#contact p {
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}
nav li a {
    color:#ffffff;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
li:last-child {
    position: absolute;
    top: 600px;
    border: 2px solid white;
    padding: 15px;
    background-color: #000000;
    left: 83%;
}
#contact h3 {
    display: none;
}
figcaption, input, label, small {
    font-size: 1em;
}
figcaption {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
    color: #ffffff;
}
figure:nth-of-type(even) figcaption{
    bottom: 245px;
}
figure:nth-of-type(4) figcaption, figure:nth-of-type(5) figcaption{
    bottom: 590px;
    color: #000000;
}
figure:nth-of-type(6) figcaption{
    bottom: 15px;
    color: #000000;
}
figure:nth-of-type(8) figcaption{
    color: #000000;
}
figure:nth-of-type(9) figcaption, figure:nth-of-type(10) figcaption, figure:nth-of-type(11) figcaption{
    bottom: 245px;
    color: #000000;
}
figure {
    position: relative;
    margin-bottom: 20px;
}
img {
    display: block;
    margin: 0 auto;
}
label {
    text-transform: uppercase;
}
input, textarea {
    display: block;
    width: 95%;
    padding: 5px;
    margin-bottom: 15px;
}
textarea {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
input::placeholder, textarea::placeholder {
    text-transform: uppercase;
    color:#007d7b;
    font-weight: bold;
}
#contact, footer {
    color: #ffffff;
    background-color: #000000;
}
.submit-button {
    color: #ffffff;
    background-color: #007d7b;
    border-radius: 15px;
    margin: 20px auto;
    width: 50%;
}
input[type="submit"]:hover {
    background-color: darkgray;
}
footer {
    position: relative;
    top: 120px;
    padding: 20px;
}

 /* Media Queries*/
@media screen and (min-width:900px) and (max-width: 1199px) {
    body, header, nav {
        width: 880px;
    }
    h1 {
        text-align: left;
    }
    ul {
        justify-content: center;
    }
    ul li a {
        padding: 15px;
    }
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1200px) {
    body, header, nav {
        width: 1100px;
    }
    h1 {
        text-align: left;
    }
    ul {
        justify-content: right;
    }
    ul li a {
        padding: 15px;
    }
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    img {
        width: 100%;
    }
    figure {
        margin: 10px;
    }
    figure:nth-of-type(even) figcaption {
        bottom: 84%;
    }
    figure:nth-of-type(4) figcaption, figure:nth-of-type(5) figcaption {
        bottom: 92%;
    }
    figure:nth-of-type(6) figcaption {
        bottom: 2%;
    }
    figure:nth-of-type(9) figcaption, figure:nth-of-type(11) figcaption {
        bottom: 84%;
    }
}